@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Questrial;
    src: url(./Questrial/Questrial-Regular.ttf);
}

/************************* GLOBAL ******************************************/
/* body {
    font-family: 'Questrial', 'sans-serif';
} */

/******************************** HR STYLING *******************************/
hr {
    border: 0 none;
    height: 1px;
    color: rgba(217, 217, 217, 1);
    background-color: rgba(217, 217, 217, 1);
}

/******************************** CSS for div that holds all components ********************************/
.content-01 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.content-01 input[type="text"],
.content-01 input[type="text"] select,
.content-01 input[type="text"] button {
    border: 1px #829399 solid;
}

.content-02 {
    width: inherit;
}

/******************************** MODAL STYLING ********************************/
.div-modal-backdrop-container {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.div-modal-container {
    width: 65%;
    height: auto;
    margin: 7% auto;
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
}

.div-modal-container-2 {
    width: 65%;
    height: auto;
    margin: 3% auto;
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
}

.div-modal-content {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.div-modal-header {
    width: 100%;
    margin-bottom: 2%;
}

.div-modal-header label {
    font-size: 20px;
    color: #8CD867;
}

.div-modal-header button {
    background-color: transparent;
    border-style: none;
    margin-left: 84%;
}

.div-modal-body {
    border-top: 1px #829399 solid;
    border-bottom: 1px #829399 solid;
}

.div-modal-footer {
    width: 100%;
    height: 20px
}

.div-modal-footer-button-group {
    margin-left: 77%;
}

.div-modal-footer-button-group button {
    margin-left: 1%;
}

/******************************** Rounded Buttons ********************************/
.rounded-button-white-bg {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #8CD867;
    border-radius: 15px;
    background-color: #fff;
    border: 1px #8CD867 solid;
    float: right !important;
    cursor: pointer;
}

.rounded-button-white-bg:focus {
    outline: none;
    box-shadow: 0 0 4px #8CD867;
}

.rounded-button-green-bg {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
    background-color: #8CD867;
    border: 1px #8CD867 solid;
    float: right !important;
    cursor: pointer;
}

.rounded-button-green-bg:focus {
    outline: none;
    box-shadow: 0 0 4px #8CD867;
}

.rounded-button-spacing {
    margin-right: 0.7%
}

/******************************** For dividing div row contents ********************************/
.div-row-left-side {
    width: 25%;
}

.div-row-left-side-02 {
    width: 20%;
}

.div-row-right-side {
    width: 70%;
}

.div-row-right-side-02 {
    width: 80%;
}

/******************************** For inline blocks divs ********************************/
.position-inline-class {
    display: inline-block;
}

/******************************** For Margin Right Spacing  ********************************/
.margin-right-3-percent {
    margin-right: 3%;
}

.margin-right-5-percent {
    margin-right: 5%;
}

.margin-right-8-percent {
    margin-right: 8%;
}

.margin-right-10-percent {
    margin-right: 10%;
}

.margin-right-15-percent {
    margin-right: 15%;
}

/******************************** Circle Buttons Style ********************************/
.circle-button-grey {
    width: 30px;
    height: 30px;
    color: #d1d1d1;
    font-weight: bold;
    border-radius: 25px;
    background-color: transparent;
    border: 1px #829399 solid;
    cursor: pointer;
}

.circle-button-grey:focus {
    outline: none;
    box-shadow: 0 0 4px #829399;
}

.circle-button-spacing-right {
    margin-right: 2%;
}

/******************************** Side Menu ********************************/

.div-side-navigation {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(247, 247, 247, 1);
    overflow-x: hidden;
    padding-top: 20px;
}

.div-side-navigation button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30%;
    margin-right: 30%;
    border-style: solid;;
    border-width: 1px;
    border-color: rgba(179, 179, 179, 1);
    background-color: #FFFFFF;
    color: #637282;
    font-weight: bold;
    font-size: 14px;
}

.div-side-navigation hr {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.div-side-navigation ul {
    list-style: none;
}

.div-side-navigation ul img {
    max-width: 100%;
    max-height: 100%;
}

.div-side-navigation li {
    margin-bottom: 2%;
    height: 35px;
    color: grey;
}

.saved-searches-nav {
    color: rgba(76, 76, 76, 1);
    font-size: 10px;
}

.div-side-navigation .saved-searches {
    color: rgba(76, 76, 76, 1);
    margin-left: 1%;
    cursor: pointer;
}

.recent-searches-nav {
    color: rgba(76, 76, 76, 1);
    font-size: 10px;
}

.div-side-navigation .nav-button {
    cursor: pointer;
}

.div-side-navigation .recent-searches {
    color: rgba(76, 76, 76, 1);
    margin-left: 1%;
    cursor: pointer;
}

.saved-searches-header, .recent-searches-header {
    font-size: 14px;
    margin-top: 30%;
    margin-bottom: 5%;
    margin-left: 10%;
    cursor: pointer;
}

.div-side-navigation input[type="radio"] {
}

.side-nav-logo-container {
    width: 100%;
    height: 10%;
    margin-top: -2%;
    margin-bottom: 10%;
}

.side-nav-logo {
    margin-left: 5%;
}

.side-nav-logo img {
    width: 240px;
    height: 100px;
}

.ul-list-01 li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ul-list-01 li, .ul-list-01 label {
    vertical-align: 11px;
}

.ul-list-02 {
    margin-top: -1%;
}

.side-navigation {
    width: 74%;
    height: 39px;
    color: #fff;
    margin-top: 10%;
    margin: 10% auto 0% auto;
}

.side-navigation-label {
    font-size: 16px;
    line-height: 16px;
    color: rgba(76, 76, 76, 1);
    vertical-align: 4px;
    margin-left: 5%;
    cursor: pointer;
}

.side-navigation-img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 15%;
    cursor: pointer;
}

.side-navigation-searched-label {
    font-size: 12px;
    line-height: 16px;
    color: rgba(76, 76, 76, 1);
    vertical-align: 4px;
    margin-left: 5%;
    cursor: pointer;
}

.side-navigation-searched-img {
    max-width: 8px;
    max-height: 8px;
    margin-left: 15%;
    vertical-align: 5px;
    cursor: pointer;
}

.side-nav-logout {
    cursor: pointer;
}

.nav-img-logos {
    width: 16px;
    height: 19px;
}

@media only screen and (max-width: 1240px) {
    .div-side-navigation {
        width: 230px;
    }
}

/******************************** Search Header ********************************/

.searchHeader {
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Questrial', 'sans-serif';
}

.searchHeader input[type="text"] {
    position: relative;
    width: 95%;
    height: 40px;
    text-indent: 30px;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'Questrial', 'sans-serif';
}

.searchHeader input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 4px #829399;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    font-family: 'Questrial', 'sans-serif';
}
  
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    font-family: 'Questrial', 'sans-serif';
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    font-family: 'Questrial', 'sans-serif';  
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    font-family: 'Questrial', 'sans-serif';
    
}

.searchIcon {
    position: absolute;
    width: 30px;
    height: 40px;
    top: 3%;
    right: 5.5%;
}

.searchIcon img {
    max-width: 100%;
    max-height: 100%;
}

.search-result-field {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search-result-field label,
.search-result-field input[type="text"] {
    font-size: 16px;
}

.search-result {
    color: #8CD867;
}

/******************************** Upload  ********************************/
.div-upload {
    width: 70%;
    height: 70px;
    position: relative;
    margin-left: 27%;
}

.flexbox-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.search-message {
    width: 40%;
}

.search-message p {
    margin-left: 3%;
}

.upload-container button {
    width: 170px;
    height: 45px;
    color: #8CD867;
    font-size: 15px;
    font-weight: bold;
    border: 2px #8CD867 solid;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 4%;
    cursor: pointer;
}

/******************************** Filters Content ********************************/
.div-filters {
    width: 70%;
    margin: 2% 0 2% 25%;
    font-family: 'Roboto', sans-serif;
}

.div-filters select {
    border-radius: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.75;
    padding: 1px;
    border-color: rgba(217, 217, 217, 1);
}

.div-filters select:focus {
    outline: none;
    box-shadow: 0 0 4px #829399;
}

.filters-row-01, .filters-row-02 {
    width: 100%;
    margin-top: 2%;
}

.filter-position-1, .filter-position-2 {
    display: inline-block;
    margin-right: 1%;
}

.filter-position-1 {
    width: 28%;
    margin-bottom: 1%;
}

.filter-position-2 {
    width: 17%;
}

.div-filename-select select,
.div-kind-select select,
.div-filetype-select select {
    width: 99%;
    height: 30px;
    margin-right: 1%;
    padding-left: 5%;
}

/*.div-filename-select:after,
.div-kind-select:after,
.div-filetype-select:after,
.div-date-select:after,
.div-days-select:after,
.div-weeks-select:after,
.div-months-select:after,
.div-year-select:after {
    content: '<>';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    font-size: 12px;
    padding: 6px;
}*/

.div-filename-select:after {
    top: 22%;
    right: 56%;
}

.div-kind-select:after {
    right: 35%;
}

.div-filetype-select:after {
    right: 15%;
}

.div-date-select:after {
    right: 63.5%;
}

.div-days-select:after {
    right: 54.5%;
}

.div-weeks-select:after {
    right: 42%;
}

.div-months-select:after {
    right: 28%;
}

.div-year-select:after {
    right: 15.5%;
}

.filters-row-02 select {
    height: 30px;
    margin-right: 1%;
}

.selection-date {
    width: 90%;
}

.selection-days, .selection-weeks {
    width: 62%;
}

.selection-months, .selection-year {
    width: 75%;
}

.div-filters button {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 30px;
    right: 7%;
    background-color: #fff;
}

.div-filters button:focus {
    outline: none;
    box-shadow: 0 0 4px #829399;
}

#remove-filter-button, #add-filter-button {
    width: 10%;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    right: 0.1%;
    color: #8CD867;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    border: 2px #8CD867 solid;
    cursor: pointer;
}

.filter-input-field {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

/******************************** File Result ********************************/
.div-file-result-content {
    width: 100%;
    font-size: 12px;
}

.div-result-title {
    margin-bottom: 3%;
}

.div-result-title label {
    font-size: 16px;
}

/******************************** Home Folder ********************************/
.headers-font {
    font-family: 'Roboto', sans-serif;
}

.content-font {
    font-family: 'Questrial', 'sans-serif';
}

.div-home-folder-container {
    width: 70%;
    height: auto;
    margin-left: 25%;
    font-family: 'Questrial', 'sans-serif';
}

.home-folder-inline-position {
    display: inline-block;
}

.div-home-folder-content-01 {
    width: 80%;
    height: auto;
}

.div-home-folder-content-02 {
    width: 15%;
    height: auto;
    position: absolute;
}

.div-home-folder-title {
    width: 100%;
    height: 40px;
}

.div-home-folder-title label {
    font-size: 20px;
    color: #1b2733;
    margin: 0;
    padding: 0;
}

.div-home-folder-headers .div-name,
.div-home-folder-headers .div-modified,
.div-home-folder-headers .div-date-added,
.div-home-folder-headers .div-file-size {
    height: 24px;
}

.div-home-folder-title, .div-home-folder-headers,
.home-folder-inline-position .div-file-size {
    margin-bottom: 2%;
}

.home-folder-header {
    font-size: 12px;
    font-weight: 400;
    color: #4c4c4c;
}

.home-folder-content {
    color: #3d464d;
    font-size: 14px;
    margin-bottom: 2%;
}

.div-name {
    width: 50%;
    height: auto;
}

.div-modified, .div-date-added, .div-file-size {
    width: 13%;
    height: auto;
    margin-right: 1%;
    text-align: left;
}

.div-icon {
    width: 8%;
    text-align: right;
}

.div-home-folder-headers .div-name label,
.div-home-folder-headers .div-modified label,
.div-home-folder-headers .div-date-added label,
.div-home-folder-headers .div-file-size label {
    vertical-align: 5px;
}

.arrow-down {
    width: 40px;
    height: 40px;
    margin-left: 1%;
}

.arrow-down img {
    max-width: 100%;
    max-height: 80%;
}

.folder-detail-row {
    width: 100%;
    margin: 3% 0% 3% 0%;
    font-size: 14px;
    cursor: pointer;
}

.div-home-folder-content-02 button {
    width: 80%;
    height: 35px;
    border-radius: 25px;
    margin-left: 14%;
    position: relative;
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    background-color: #8CD867;
    border: 2px #8CD867 solid;
    cursor: pointer;
    line-height: 32px;
}

.div-home-folder-content-02 img {
    margin-left: 30%;
}

.div-new-stak {
    width: 80%;
    height: 30px;
    margin-top: 10%;
    cursor: pointer;
}

.div-new-stak {
    font-size: 12px;
    font-weight: 400;
    vertical-align: 10px;
    color: #808080;
}

.div-new-stak label {
    margin-left: 3%;
    vertical-align: 8px;
    cursor: pointer;
}

.file-icon {
    margin-right: 1%;
}

/******************************** File Content ********************************/
.div-file-content {
    position: relative;
}

.file-box {
    display: inline-block;
    height: 138px;
    margin: 2%;
    text-align: center;
    width: 20%;
    vertical-align: middle;
}

.file-img-box-container {
    width: 180px;
    height: 150px;
    margin: 0 auto;
}

/* .file-img-box class will inherit size of any parent container  */
.file-img-box {
    width: inherit;
    height: inherit;
}

/* image will automatically adjust base from the file-image-box  */
.file-img-box img {
    max-width: 100%;
    max-height: 100%;
}

.stak-folder label {
    vertical-align: 8px;
}

/******************************** Logo Header ********************************/
.div-logo-header {
    width: 100%;
    height: 50px;
    border-bottom: 1px #000 solid;
    font-family: 'Roboto', sans-serif;
}

.logo-header-container {
    width: 400px;
    height: 80px;
    position: absolute;
    top: -3%;
}

.logo-header-container img {
    width: 80%;
    height: 130px;
}

.div-faqs-help {
    margin-top: 2%;
    margin-left: 80%;
}

.anchor-tag {
    width: 10%;
    margin-right: 10%;
}

.anchor-tag a {
    color: #8CD867;
}

/******************************** New Stak Modal ********************************/
.div-new-stak-container {
    width: 70%;
    height: auto;
    font-size: 14px;
    margin-left: 25%;
    margin-top: 5%;
}

.div-new-stak-header {
    width: 100%;
    margin-bottom: 2%;
}

.div-new-stak-header label {
    font-size: 20px;
    color: #8CD867;
}

.new-stak-input-text-01 {
    width: 90%;
}

.new-stak-input-text-02 {
    width: 70%;
}

.new-stak-input-text-03 {
    width: 30%;
}

.div-row-right-side > input[type="file"] {
    display: none;
}

.div-new-stak-container input[type="text"],
.div-new-stak-container textarea,
.div-new-stak-container select {
    border-color: rgba(217, 217, 217, 1);
    border-radius: 15px;
    padding-left: 3%;
}

.div-new-stak-container input[type="text"]:focus,
.div-new-stak-container textarea:focus,
.div-new-stak-container input[type="file"]:focus,
.div-new-stak-container select:focus {
    outline: none;
    box-shadow: 0 0 4px #8CD867;
}

.div-new-stak-container input[type="text"],
.div-new-stak-container input[type="file"],
.div-new-stak-container select {
    height: 25px;
    border-color: rgba(217, 217, 217, 1);
}

.div-new-stak-container textarea {
    width: 90%;
    border-width: 1px;
    height: 100px;
    padding-left: 28px;
    padding-top: 10px;
}

.div-new-stak-field-01 {
    width: 90%;
    border-top: 1px #829399 solid;
}

.div-new-stak-row {
    width: 100%;
    height: auto;
    margin: 2% 0;
}

.top-text {
    vertical-align: 90px;
}

.div-new-stak-field-02 {
    width: 100%;
    border-top: 1px #829399 solid;
}

.div-new-stak-field-02 .select-filter {
    width: 17%;
}

.new-stak-input-select-02 {
    width: 73%;
}

.div-row-right-side > button.with-text {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    margin-left: 2%;
    cursor: pointer;
}

.div-new-stak-field-02 .div-row-left-side label {
    margin-left: 5%;
    color: #829399;
    font-size: 14px;
}

label.top-text-stak {
    color: #829399;
    font-size: 14px;
}

/******************************** Connect Modal ********************************/
.div-connect-modal-container {
    width: 100%;
    height: auto;
    font-size: 14px;
}

.width-of-first-table-column {
    width: 25%;
}

.width-of-first-table-column-02 {
    width: 13%;
}

.div-connect-modal-container table {
    width: 100%;
}

.div-connect-modal-container tr {
    margin: 2% 0%;
}

.div-connect-modal-container td {
    padding: 1%;
}

.input-field-for-authentications {
    width: 40% !important;
    margin-left: 3%;
}

.input-field-for-db-host {
    width: 96% !important;
}

.input-field-for-db-authentication {
    width: 96% !important;
}

.connect-to-share-button {
    width: 93px;
    height: 25px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-left: 2%;
}

.connect-test-db-button {
    width: 60px;
    height: 25px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-left: 2%;
}

.connect-select-destination-button {
    width: 160px;
    height: 25px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-left: 2%;
}

.div-connect-modal-container input[type="file"] {
    display: none;
}

.div-connect-modal-container input[type="text"]:focus,
.div-connect-modal-container input[type="password"]:focus,
.div-connect-modal-container select:focus {
    outline: none;
    box-shadow: 0 0 4px #8CD867;
}

.div-connect-modal-container input[type="text"],
.div-connect-modal-container input[type="password"],
.div-connect-modal-container select {
    border-width: 1px;
    border-radius: 10px;
    padding-left: 3%;
}

.div-connect-modal-container input[type="radio"] {
    margin-right: 3%;
}

.div-connect-modal-container input[type="text"] {
    width: 80%;
    height: 20px;
}

.div-connect-modal-container select {
    width: 100%;
    height: 25px;
}

.div-connect-modal-row {
    width: 100%;
    height: auto;
    margin: 2% 0;
}

.top-text-02 {
    vertical-align: 38px;
}

.top-text-03 {
    vertical-align: 183px;
}

.top-text-04 {
    vertical-align: 108px;
}

.top-text-05 {
    vertical-align: 7px;
}

.margin-top-bottom-2-percent {
    margin: 2% 0;
}

.label-font-01 {
    font-size: 14px;
}

.label-font-02 {
    font-size: 12px;
    color: #829399;
}

.div-row-right-side > input[type="file"] {
    display: none;
}

.div-row-right-side > button {
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-left: 2%;
}

.file-input-text {
    width: 85% !important;
}

.file-input-text-upload {
    width: 70% !important;
}

.connect-close-button {
    margin-left: 89% !important;
}

/* CONNECT MODAL: Clean up this */
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}
/* END OF CLEAN UP: FOR CONNECT MODAL */

/************ SEARCH RESULTS ****************/
.search-results-inline-position {
    margin-bottom: 1%;
}

.folder-detail-row.search-results-row {
    margin-top: 1%;
    margin-bottom: 2%;
}

div.context-menu-block:hover {
    color: green;
}

.context-menu-block {
    display: inline;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #637282;
}

.add-to-stak {
    cursor: pointer;
}

/*************** SEARCH BAR MODAL ******************/
input.search-bar-modal {
    width: 85%;
    height: 35px;
    font-size: 12px;
    padding-left: 1% !important;
}

button.search-bar-modal-button {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border-color: #D1D1D1;
    border-style: solid;
    background-color: #D1D1D1;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    margin-left: 2%;
    cursor: pointer;
}

button.search-modal-button {
    font-size: 12px;
    margin-top: 1%;
}

.div-search-modal-container {
    width: 100%;
    height: auto;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
}

.filter-position-1.filter-footer {
    width: 5%;
    margin-left: 27%;
}

.div-search-modal-headers {
    overflow: scroll;
    max-height: 200px;
}

.div-search-modal-filter {
    overflow: scroll;
    max-height: 200px;
}

.div-modal-footer-button-group {
    margin-top: 1%;
}

/****************** add to stak modal *****************/
.div-modal-container.div-stak-modal {
    width: 20%;
}

.div-new-stak-container.div-stak-container {
    margin-left: 0%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

select.div-stak-dropdown {
    width: 100%;
}

.div-modal-footer-button-group.div-stak-footer-button-group {
    margin-left: 0%;
    margin-top: 5%;
}

.div-stak-close {
    position: relative;
    margin-left: 93% !important;
    margin-bottom: 1%;
    width: 22px;
    height: 50%;
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.7);
    border-style: none;
}

.span-preview-close {
    color: #fff;
    font-size: 15px;
}

/******************** save search modal ****************/
.div-stak-input {
    width: 100%;
    color: gray;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/*** File Display Layout ***/
.wrap-text-content {
    word-wrap: break-word;
}

.img-center-content {
    vertical-align: middle;
}

/*** New Styles ***/
.pull-right-88 {
    margin-left: 88% !important;
}

.pull-right-0 {
    margin-left: 0% !important;
}

.col-6 {
    width: 50% !important;
}

/************* STAK FOLDER **************/
.folder-detail-row > div > label {
    cursor: pointer;
}

.div-edit-stak-files {
    padding-bottom: 25px;
}