body {
    max-width: 100%;
    max-height: 100%;
}

/* boots */
.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 60%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.login-background-image {
    z-index: -10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
}

.container {
    /*background-repeat: no-repeat;
    background-size: 100% 100%;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-height: 100%;
}

.row {
    /*  margin-right: -15px;
      margin-left: -15px;*/
    margin-top: 3%;
    margin-left: 5%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}

.row hr {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 49%;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.footer {
    list-style-type: none;
    margin-left: -4.7%;
    margin-top: 10%;
}

.footer li {
    color: #829399;
    margin-top: 5%;
}

.copyright-footer {
    position: fixed;
    top: 620px;
    left: 130px;
    font-size: 13px;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.rounded-signin-google {
    width: 420px;
    height: 45px;
    position: fixed;
    left: 158px;
    top: 222px;
    /*position: absolute;*/
    border-radius: 30px;
    background-color: rgba(109, 192, 102, 1);
    color: #fff;
    font-weight: bold;
    /*padding-top: 4px;*/
    outline: none;
    border: 1px rgba(109, 192, 102, 1) solid;
    padding: 1px 6px 1px 6px;
}

.rounded-signin-google img {
    height: 20px;
    width: 20px;
    padding-left: 10px;
}

.rounded-signin-google label {
    vertical-align: -3px;
}

button > img,
button > span {
    vertical-align: middle;
}

.rounded-input {
    width: 400px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    padding-left: 15px;
    outline: none;
    border: 1px rgba(217, 217, 217, 1) solid;
}

.input-password {
    position:fixed;
    left: 158px;
    top: 410px;
}


.input-email {
    position: fixed;
    top: 350px;
    left: 158px;
}

.rounded-signin {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(109, 192, 102, 1);
    color: #fff;
    font-weight: bold;
    outline: none;
    border: 1px rgba(109, 192, 102, 1) solid;
    position: fixed;
    top:504px;
    left: 476px;
}

.forgot-password {
    position:fixed;
    top: 473px;
    left: 175px;
    font-size: 14px;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.remember-me-row {
    position: fixed;
    top:509px;
    left: 164px;
    font-size: 14px;
}

.workaround-label {
    color: white;
}

a {
    color: #8CD867;
}

.sign-in-line {
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position:fixed;
    top: 308px;
    left: 160px;
    width: 415px !important;
}

.sign-in {
    font-size: 24px;
    font-weight: bold;
    position:fixed;
    left: 157px;
    top: 169px;
}

input[type='checkbox'] {
    width: 15px !important;
    height: 15px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid #829399;
    box-shadow: none;
    font-size: 2em;
}

input[type="checkbox"]:checked {
    background: #000;
}

/*input[type="checkbox"]:hover {
  filter: brightness(90%);
}
*/
input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

input[type="checkbox"]:disabled:after {
    border-color: #fff;
}

div.col-6 > input, div.col-6 > label {
    display: inline-block;
    vertical-align: middle;
}

.invert {
    filter: invert(100%);
}

.account-create {
    font-size: 14px;
    position:fixed;
    top: 176px;
    left: 430px;
}