hr {
    border: 0 none;
    height: 1px;
    color: rgba(217, 217, 217, 1);
    background-color: rgba(217, 217, 217, 1);
}

.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 20%;
    width: 70%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

div > a {
    color: #8CD867;
}

.btn-primary {
    width: 135px;
    height: 35px;
    border-radius: 30px;
    border-color: #8CD867;
    background-color: #FFFFFF;
    color: #8CD867;
    font-size: 15px;
    text-align: center;
}
.chart-legend span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

ul {
    list-style-type: none;
}

div#legend {
    width: 35%;
}

div#legend li {
    font-size: 12px;
}
